# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Dependency directories
node_modules/
jspm_packages/

# Build artifacts
dist/
build/
*.log

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local 